/* The entire body */

body {
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

/* Header */

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  align-items: center;
  background-color: black;
  flex: 1;
}

/* Logo */

header img {
  height: 50px;
  padding-left: 10px;
}

/* Navigation links */

a {
  color: seashell;
  text-decoration: underline;
}

nav {
  text-align: right;
  flex-grow: 1;
  /* flex-grow cannot be less than 1 */
}

nav span {
  display: inline-block;
  /* inline-block creates a box around the elements */
  padding: 20px 10px;
}

/* div class main */

.main {
  width: 1200px;
  padding-top: 70px;
  margin: auto;
}

#mission {
  background-image: url(../../resources/Images/img-mission-background.jpg);
  height: 700px;
  padding-top: 70px;
}

#mission .content {
  background-color: black;
  width: 100%;
  margin: auto;
}

h2, h4, h4 {
  margin: 0;
  padding: 10px;
}

#store {
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.item img {
  height: 200px;
  width: 300px;
  margin: 10px;
  display: block;
}

.item {
  padding: 5px;
}

.item span {
  font-weight: bold;
  display: block;
  padding: 5px;
}

#locations {
    background-image: url(../../resources/Images/img-locations-background.jpg);
    height: 500px;
}

.location {
    opacity: 1;
    padding: 10px;
    margin: 5px 20px;
    background-color: black;
    flex-basis: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
